.navbar img{
    width:50px;
}


.text-div{
    margin-top: 130px;
    padding: 12px 0;
}


.navbar-nav{
    margin-left: 450px;
}
.price-section{
    background-color:#5D25BE;
    color:white;
   
}

.text-section{
    background-color: beige;

}

.h1-div{
    width: 100px;
    height: 100px;
    background-color: #edeaf1be;
    border-radius: 50%;
   margin-left: 35%;
   font-size: 30px;
}

.card:hover button{
    background-color: rgb(221, 29, 141) !important;
}

.text-section button{
    background-color: black !important;
    color: azure !important;
}
.text-section button:hover{
    background-color: rgb(27, 192, 68) !important;
}

.pic-sec img{
    width: 100px;
}

.ul-class ul{
    margin-top: 150px;
    font-size: 20px;
    line-height: 50px;
    list-style: none;
}

.form-section label{
    font-size: 30px;
}